/*
  Специально для светлой темы при наличии класса.
  Здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

:root.theme-light {
  --background-img: url('../images/cover-image-light.png');
  --background-color: #FFF1F7;
  --header__text-color: #FF8DCB;
  --accent-color: #FFC2E6;
  --section-header-text-color: #353430;
  --section-subheader-text-color: #353430;
  --section-text-text-color: #353430;
  --section-subsubheader-text-color: #353430;
}

:root.theme-light .header__decorative-text{
  display: none;
}
@media (prefers-color-scheme: light) {
  :root {
    --background-img: url('../images/cover-image-light.png');
    --background-color: #FFF1F7;
    --header__text-color: #FF8DCB;
    --accent-color: #FFC2E6;
    --section-header-text-color: #353430;
    --section-subheader-text-color: #353430;
    --section-text-text-color: #353430;
    --section-subsubheader-text-color: #353430;  }
  .header__decorative-text{
    display: none;
  }

  /* Остальные стили, только при необходимости */
}