/*
  Переменные для вашего проекта
  и их переопределение под различные устройства
*/
:root {
  --background-img: url('../images/cover-image.png');
  --background-color: #000028;
  --header__text-color: #DB00FF;
  --accent-color: #FF0070;
  --section-header-text-color: var(--accent-color);
  --section-subheader-text-color: #000028;
  --section-text-text-color: #F1B2CE;
  --section-subsubheader-text-color: #000028;
  --main-gap: 10px;
  --min-height-header-footer: 668px;


}